/* 单个字母 */
.single{
    display: block;
    width: 15%;
    height: 15%;
    position: absolute;
    opacity: 0%;
    margin-top: 15%;
    top: 0px;
    left: 0px;
}

body{
    background-color: rgb(38, 38, 38);
}